/**
 * Copyright 2023 The OWASP Coraza contributors
 * SPDX-License-Identifier: Apache-2.0
 */

body {
    background-color: #1f2227;
    color: #FFF;
}

a,
a:hover {
    color: #fbfbfb;
}

.left-bar {
    border-right: 1px solid #cfd0d1;
    height: 95vh;
}

.top-menu {
    width: 100%;
    height: 5vh;
    min-height: 40px; /* TODO check */
    border-bottom: 1px solid #cfd0d1;
}

.sb-card {
    height: 47.5vh;
    width: 50%;
    border-right: 1px solid #cfd0d1;
    border-bottom: 1px solid #cfd0d1;
    margin: 0px !important;
    padding: 0.5vh;
}

.CodeMirror {
    background-color: #1f2227 !important;
    height: 43vh;
}

.top-menu a:hover {
    border-bottom: 3px solid #cfd0d1;
}

/*overflow*/
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}