<mat-tab-group>
    <mat-tab label="First">
        <ng-template matTabContent>
            <ngs-code-editor class="editor" 
            (codeValueChange)="this.httpRequestValue.emit($event)"
            [codeValue]="this.httpRequest">
            </ngs-code-editor>
        </ng-template>
    </mat-tab>
    <mat-tab label="Second">
        <ng-template matTabContent>
            <app-editor></app-editor>
        </ng-template>
    </mat-tab>
    <mat-tab label="Third">
        <ng-template matTabContent>
            <app-editor></app-editor>
        </ng-template>
    </mat-tab>
</mat-tab-group>