name: Nightly Coraza Check
on:
  pull_request:
    paths:
      - ".github/workflows/nightly-coraza-check.yaml"
      - ".github/workflows/ci.yaml"
  schedule:
    - cron: "0 4 * * *"

env:
  GO_VERSION: '1.23'

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Get last commit of coraza
        id: coraza-latest-commit
        run: echo "value=$(gh api repos/corazawaf/coraza/commits/main -q .sha)" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch last coraza version
        run: go get -u github.com/corazawaf/coraza/v3@${{ steps.coraza-latest-commit.outputs.value }} && go mod tidy

      - name: Run unit tests
        run: go run mage.go test

      - name: Build site
        run: go run mage.go build
